body {
  margin: 0;
  padding: 0;
}

.col {
  text-align: center;
  font-family: Goldman Static, serif;
}
.card-header {
  justify-content: center;
}

/* .row {
  position:;
} */

 marquee{

  justify-content: center;
  background-color: rgba(255, 99, 71, 0.2);
  font-size: 35px;
 }

 button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #638C6D;
 color:whitesmoke;
 }